<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yht.yihuantong">

    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!--适配8.0安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Required -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.yht.yihuantong.ZycApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <!--刘海屏适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--屏幕适配 start-->
        <!--<meta-data-->
        <!--android:name="design_width_in_dp"-->
        <!--android:value="360" />-->
        <!--<meta-data-->
        <!--android:name="design_height_in_dp"-->
        <!--android:value="640" />-->
        <!--屏幕适配 end-->
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--微信登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />

        <activity
            android:name=".ui.IntentParseActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="zyc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.LoginOptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.auth.AuthDoctorActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_auth"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.auth.SelectHospitalByAuthActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_hospital"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.auth.AddHospitalActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_hospital"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.auth.SelectDepartActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_depart"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.PersonalActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_setting"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_about"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.About2Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_about2"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.CurrencyActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_personal_info"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.WithdrawDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_withdraw_detail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.IncomeDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_income_detail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.AccountDisableActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.check.ServiceHistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.check.ServiceDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check_detail"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->

            <!--<data-->
            <!--android:scheme="doctorpro"-->
            <!--android:host="service.com" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.reservation.service.ReservationServiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.reservation.transfer.ReservationTransferActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_transfer"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.reservation.ReservationSuccessActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.check.SelectCheckTypeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.check.SelectCheckTypeByHospitalActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferInitiateListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_transfer"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferInitiateDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transfer_detail"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->

            <!--<data-->
            <!--android:scheme="doctorpro"-->
            <!--android:host="transfer.com" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.transfer.SelectReceivingDoctorActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_select_doctor"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferReceiveListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transfer_apply"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferReceiveDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_receiving_transfer_apply"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferEditActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_visiting"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.SelectHospitalByTransferActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_hospital"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferAgainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transfer_again"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.patient.PatientPersonalActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_about_protocol"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.x5.FileDisplayActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.patient.TransferDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_receiving_transfer_detail"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.remote.RemoteDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_remote_detail"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.remote.RemoteLoginActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.login.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.reservation.ReservationDisableActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.personal.PersonalNewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_personal_center"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.HintLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransDialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.NotifyHintActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--腾讯X5-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <!--腾讯X5-->

        <!--环信消息点击事件处理-->
        <receiver
            android:name=".chat.receive.EaseMsgClickBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--通知栏消息点击-->
                <action android:name="ease.msg.android.intent.CLICK" />
            </intent-filter>
        </receiver>

        <!--环信配置-->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="${ease_appkey}" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SU2qor7P14g8RhgfiuNWctt2Xa7MBNx4">

        </meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--环信配置 end-->
        <!--极光推送-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--android:process=":pushcore"-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <!--<service-->
        <!--android:name="cn.jpush.android.service.DaemonService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
        <!--<category android:name="${applicationId}" />-->
        <!--</intent-filter>-->

        <!--</service>-->

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,
        目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <!--since 3.3.0 接收JPush相关事件-->
        <receiver
            android:name=".jpush.PushNotifyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--since 3.3.0 Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service
            android:name=".jpush.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${jpush_channel}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${jpush_appkey}" />
        <!--极光推送-->

        <!--登出-->
        <receiver
            android:name=".receiver.LoginOutBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--退出登录-->
                <action android:name="zyc.doctor.logout.action" />
                <!--token失效-->
                <action android:name="zyc.doctor.token.action" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>
    </application>

</manifest>