<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zyc.doctor">

    <!--适配8.0安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Required -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ZycApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <!--刘海屏适配-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--屏幕适配 start-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <!--屏幕适配 end-->
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--微信登录-->
        <activity
            android:name="com.yht.yihuantong.wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.LoginOptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.auth.AuthDoctorActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_auth"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.auth.SelectHospitalActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_hospital"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.auth.AddHospitalActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_hospital"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.auth.SelectDepartActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_depart"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.PersonalActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_setting"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_about"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.CurrencyActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.personal.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_personal_info"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.WithdrawDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_withdraw_detail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.currency.IncomeDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_income_detail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.login.AccountDisableActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.check.CheckHistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.check.CheckDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check_detail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.reservation.ReservationCheckOrTransferActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.check.CheckSuccessActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_reserve_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.check.SelectCheckTypeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_check"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.check.SelectCheckTypeByHospitalActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferHistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_add_transfer"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferToDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transfer_detail"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.SelectReceivingDoctorActivity"
            android:screenOrientation="portrait"
            android:label="@string/txt_select_doctor"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.transfer.TransferApplyActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transfer_apply"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.transfer.TransferFromDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_received_transfer_detail"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--环信消息点击事件处理-->
        <receiver
            android:name=".chat.receive.EaseMsgClickBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--通知栏消息点击-->
                <action android:name="ease.msg.android.intent.CLICK" />
            </intent-filter>
        </receiver>

        <!--环信配置-->
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="${ease_appkey}" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SU2qor7P14g8RhgfiuNWctt2Xa7MBNx4">

        </meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--环信配置  end-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>
    </application>

</manifest>